<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <section class="main-view">
        <div class="app-hero">
            <div class="blur-box"></div>
            <div class="main-box">
                <nav class="app-navbar">
                    <h4>Hotel</h4>
                    <div>
                        <button class="app-btn">Se connecter</button>
                        <button class="app-btn">S'enregistrer</button>
                    </div>
                </nav>
            </div>
        </div>
        <main>
            <div class="app-container">

            </div>
        </main>
    </section>
</body>

</html>